.custom_card{
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn-facebook{
    background-color: #3b5998;
    color: #fff;
}

.btn-google{
    background-color: #f7f7f7;
    border-color: #ababab;
}