.navbar_imageprofile{
    width: 30px;
    display: inline-block;
    float: left;
    margin-top: 7px;
}

.no_padding{
    padding: 0px;
}

.account_subtitle{
    font-size: 10px;
    color: #d32d27;
}

.account{
    display: inline-block;
    font-size: 14px;
    line-height: 13px;
    font-weight: 500;
}

.account.dropdown-toggle::after {
    vertical-align: .1em !important;
}

.dropdown-header{
    color: #d32d27;
}

.nav-item i {
    color: #d32d27;
}